.page-template-page-archive {
  .main-content-wrapper {
    article {
      margin-bottom: 2rem;

      .entry-title {
        margin-bottom: 10px;
      }

      time {
        margin-bottom: 6px;
      }
    }
  }
}
