.page-template-page-archive {
  .main-content-wrapper {
    article {
      margin-bottom: 2rem;

      .entry-title {
        margin-bottom: 10px;
      }

      svg {
        width: 18px;
      }
    }
  }
}
