//Primary sidebar
.has-sidebar {
  @include media-breakpoint-up(lg) {
    .wrap {
      display: flex;
      align-items: flex-start;

      .content {
        width: calc(100% - 300px);
        padding-right: 3rem;
      }

      .sidebar {
        width: 300px;
        //position: sticky;
        //top: 94px;
      }
    }
  }
}

.sidebar {
  .wp-block-row,
  .wp-block-group {
    margin-bottom: 1.5rem;

    p:empty {
      display: none;
    }

    p:last-child {
      margin-bottom: 0;
    }

    svg {
      flex: 0 0 1.5rem;
    }
  }
}
