.edit-post-visual-editor {
  margin: 40px;
}

.wp-block[data-type="core/widget-area"] {
  max-width: 90%;
  margin-top: 20px;
}

.low-wysiwyg iframe {
  height: 100px !important;
  min-height: 100px;
}

.wp-block-cover {
  margin-bottom: 28px;
}
