.btn {
  //--bs-btn-padding-x: 0.75rem;
  //--bs-btn-padding-y: 0.375rem;
  //--bs-btn-border-radius: 0.375rem;
  //--bs-btn-font-weight: 400;
}

.wp-element-button {
  &.has-primary-background-color {
    color: $body-color;

    @include hover-focus-active {
      background-color: $link-hover-color!important;
    }
  }
}

.btn-search {
  &[aria-expanded="true"] {
    svg path {
      stroke: $primary;
    }
  }
}

.fancy-hover-link {
  a {
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      width: 0;
      background: $primary;
      @include theme-transition;
    }

    @include hover-focus-active {
      color: $body-color;

      &::after {
        width: 100%;
      }
    }
  }
}
