.wp-block-row,
.wp-block-group {
  margin-bottom: 4rem;
}

.entry-content {
  .wp-block-row,
  .wp-block-group {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}

.wp-block-rounded-images {
  img {
    border-radius: $border-radius;
  }
}
