#full-calendar {
  --fc-event-bg-color: #85C226;
  --fc-event-border-color: #85C226;
  //--fc-button-bg-color: #85C226;
  //--fc-button-border-color: #85C226;

  max-width: 1000px;
  margin: 0 auto;
}
