@include media-breakpoint-up(lg) {
  .navbar-primary {
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include theme-transition;

    .navbar-nav {
      > .nav-item {
        > .nav-link {
          --bs-navbar-nav-link-padding-x: 20px;
        }
      }
    }

    .nav-item {
      .nav-link {
        position: relative;
        //padding-left: 1rem;
        //padding-right: 1rem;
        //line-height: 1.2;
        //font-size: 1rem;

        &::after {
          content: "";
          position: absolute;
          bottom: 4px;
          left: 1rem;
          right: 1rem;
          height: 1px;
          width: 0;
          background: $gray-dark;
          @include theme-transition;
        }

        @include hover-focus-active {
          &::after {
            width: calc(100% - 2rem);
          }
        }
      }

      &.menu-item-has-children {
        position: relative;

        &:hover,
        &:focus,
        &:focus-within {
          .sub-menu {
            display: block;
          }
        }

        > .sub-menu {
          position: absolute;
          top: 100%;
          left: 0;
          background-color: $gray-100;
          padding-top: 20px;
          padding-bottom: 16px;
          min-width: 220px;

          .sub-menu {
            a {
              padding-left: 1.5rem;
            }

            .sub-menu {
              a {
                padding-left: 2rem;
              }
            }
          }
        }
      }
    }

    .sub-menu {
      display: none;
    }
  }

  .transparent-header {
    .navbar-primary {
      .nav-item {
        @include wp-current-menu-item {
          > a {
            color: var(--bs-primary);
          }
        }
      }
    }

    &:not(.not-top) {
      .navbar-primary {
        .nav-link {
          color: $white;

          &::after {
            background-color: $primary;
          }
        }

        .btn-search {
          path {
            stroke: $white;
          }
        }
      }
    }
  }
}
