@include media-breakpoint-down(lg) {
  header.banner {
    border-bottom-color: $gray-200!important;
  }

  .navbar-primary {
    background-color: $white;

    .navbar-nav {
      margin-top: 20px;

      .nav-link {
        //color: $white;
      }

      .sub-menu {
        a {
          padding-left: 0.5rem;
        }

        .sub-menu {
          a {
            padding-left: 1rem;
          }
        }
      }
    }
  }
}
